[requires]
python_version = "3.7.0"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
black = "*"
psycopg2 = "*"

[pipenv]
allow_prereleases = true
